<%= form_for(@order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <% @order.items.each do |item| %>
    <%= form.fields_for :items, item do |items_form| %>
      <div>
        <%= items_form.hidden_field :name, value: item.name %>
        <%= items_form.label :name, value: item.name %>
        <%= items_form.hidden_field :price, value: item.price %>
        <p><%= number_to_currency(item.price, precision: 2, unit: "R$", separator: ",", format: "%u %n") %></p>
        <%= items_form.label :quantity %>
        <%= items_form.number_field :quantity, min: 1 %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
