<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @food.name %> </td>
      <td><%= @food.description %> </td>
      <td><%= @food.price %> </td>
    </tr>
  </tbody>
</table>
<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
<%= link_to 'Destroy', @food, method: :delete, data: { confirm: 'Are you sure?' } %>
