<% if user_signed_in? %>
  <%= link_to "Loggout", sign_out_path %>
<% elsif !admin_signed_in? && !user_signed_in? %>
  <%= link_to "Loggin", sign_in_path %>
<% end %>
<br>
<% if admin_signed_in? %>
  <h2><%= link_to "Menu", menu_path %></h2>
  <h2><%= link_to "Foods", foods_path %></h2>
  <h2><%= link_to "Drinks", drinks_path %></h2>
  <h2><%= link_to "Customer list", users_index_path %></h2>
  <h2><%= link_to "Invite Admin", new_admin_invitation_path %></h2>
<% end %>
<% if admin_signed_in? %>
  <%= link_to "Loggout", sign_out_path %>
<% elsif !user_signed_in? %>
  <%= link_to "Login as Spoleto Admin", new_admin_session_path %>
<% end %>
